html,
body,
.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
    height: 100%;
    width: 100%;
}

.app::before {
    background-image: url(https://images.unsplash.com/photo-1612198791461-e26e3b5dcb86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80);
    background-size: cover;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 95%;
    filter: blur(2px);
}

.col,
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.d-none{
    display: none;
}

.row {
    flex-direction: row;
}

button {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.title{
    position: fixed;
    top: 0;
    height: 15vh;
    margin: 0;
    line-height: 15vh;
}

label::first-letter, option::first-letter{
    text-transform: uppercase;
}

input[type="number"]{
    width: 6vw;
}
.input{
    height: 3vh;
    border: 1px solid indianred;
    border-radius: .25rem;
}

::placeholder, select{
    padding-left: 3px;
    color: rgba(205, 92, 92, .5)
}

.delete-btn {
    font-size: medium;
    color: indianred;
    opacity: 1;
    scale: 1;
    transition: all 1s;
}



.delete-btn:hover {
    scale: .85;
    opacity: .85;
}

.form-cnt{
    height: fit-content;
    max-height: 55vh;
    min-height: 40vh;
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid rgba(0,0,0, .15);
    border-radius: .75rem;
}

.form-cnt > form{
    width: 100%;
    height: 95%;
    margin: auto;
    justify-content: flex-start;
}

.form-cnt > form > .multiSelect-cnt:nth-child(even){
    padding-top: 5%;
    padding-bottom: 7%;
}

.form-cnt > .close-btn{
    align-self: flex-end;
    padding: 5%;
}

form > button{
    background-color: white;
    border: 1px solid indianred;
    border-radius: .25rem;
    color: indianred;
    font-weight: 600;
    padding: .5rem .75rem;
    margin: 5%;
}

.pills-cnt{
    width: 50%;
    height: fit-content;
    position: relative;
    padding: 5% 0;
    border-radius: 50% 50% 20% 20%;
    background-color: rgba(255, 255, 255, .5);
}

.pills-cnt::before{
    content: "";
    position: absolute;
    height: 10vh;
    width: 45vw;
    background-color: rgba(255, 255, 255, .75);
    z-index: -1;
    top: -3vh;
    border-radius: 60% 60% 100% 100%;
}

.pills-cnt::after{
    content: "";
    position: absolute;
    height: 3vh;
    width: 40vw;
    background-color: lightgray;
    z-index: 0;
    top: -2vh;
    border-radius: 50%;
}

.pill span {
    font-size: x-small;
}

.week{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 1rem;
    position: absolute;
    top: 4vh;
    justify-items: center;
}

.week .col, .week .row{
    gap: 0;
}

.week .delete-btn{
    display: none;
}
.week .pill{
    scale: .5;
}

.day{
    height: 100%;
    min-height: 13rem;
    width: 100%;
    min-width: 13rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: .25rem;
    border-radius: .75rem;
    background-color: rgba(255, 255, 255, .75);
    border: 1px solid rgba(0,0,0, .15);
    padding: .25rem;
    font-size: small;
    position: relative;
}

.day > span{
    z-index: -1;
    font-size: 25px;
    color: orangered;
    grid-column: 1/3;
    grid-row: 1/6;
    text-transform: uppercase;
    margin: auto;
}

.day > .range-cnt{
    grid-column: 1/3;
    grid-row: 1/6;
}

.openPillForm-btn, .openScheduleForm-btn{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: indianred;
    color: white;
    font-size: xx-large;
    font-weight: 500;
    filter: drop-shadow(1px 1px 8px rgba(0,0,0, .5));
    position: fixed;
    bottom: 14vh;
    right: 4vh;
}

.multiSelect-cnt{
    display: grid;
    grid-template-columns: repeat( 3, minmax(6rem, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(2rem, 1fr) );
    grid-gap: 1rem;
    height: 10rem;
    overflow-y: scroll;
}

.multiSelect-cnt::-webkit-scrollbar{
    display: none;
}

.multiSelect-cnt > button{
    text-align: center;
    align-self: center;
    padding: 4px 2px;
    border-radius: .25rem;
    border: 1px solid indianred;
    color: indianred;
    font-size: small;
}

.selected{
    color: white !important;
    background-color: indianred;
}

.range-cnt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
}

.range{
    position: relative;
}

.range > div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    position: relative;
    top: 1.75rem;
}

.range > span{
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    color: rgba(205, 92, 92, .5);
    text-transform: capitalize;
}

.range-cnt > .range:nth-child(2){
    border-left: 1px solid rgba(255,69,0, .1);
    border-bottom: 1px solid rgba(255,69,0, .1);
}

.range-cnt > .range:nth-child(3){
    border-right: 1px solid rgba(255,69,0, .1);
    border-top: 1px solid rgba(255,69,0, .1);
}

footer{
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 1.75rem 1.75rem 0 0;
}

.footerItem-btn{
    font-size: medium;
    padding: 5%;
}
.footerItem-btn > i{
    font-size: x-large;
}

.current{
    color: indianred
}

.day-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.day-grid > span{
    grid-column: 1/1;
    grid-row: auto;
}

.day-grid > div{
    grid-column: 2/3;
    grid-row: auto;
}